.threeBlink {
  animation-iteration-count: 3 !important;
}

div.powerup-color-critical {
  background-color: red;
}

span.powerup-color-critical, h1.powerup-color-critical {
  color: red;
}

@keyframes powerup-color-critical-div-blink {
  0% {
    background-color: darkred;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: darkred;
  }
}

@keyframes powerup-color-critical-span-blink {
  0% {
    color: darkred;
  }
  50% {
    color: red;
  }
  100% {
    color: darkred;
  }
}

div.powerup-color-critical-blink {
  animation-name: powerup-color-critical-div-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background-color: red;
}

span.powerup-color-critical-blink {
  animation-name: powerup-color-critical-span-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: red;
}

div.powerup-color-warning {
  background-color: yellow;
}

span.powerup-color-warning, h1.powerup-color-warning {
  color: yellow;
}

@keyframes powerup-color-warning-div-blink {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: goldenrod;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes powerup-color-warning-span-blink {
  0% {
    color: yellow;
  }
  50% {
    color: goldenrod;
  }
  100% {
    color: yellow;
  }
}

div.powerup-color-warning-blink {
  animation-name: powerup-color-div-warning;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background-color: yellow;
}

span.powerup-color-warning-blink {
  animation-name: powerup-color-span-warning;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: yellow;
}

div.powerup-color-normal {
  background-color: green;
}

span.powerup-color-normal, h1.powerup-color-normal {
  color: green;
}

.powerup-svg-critical {
  fill: red;
}

@keyframes powerup-svg-critical-blink {
  0% {
    fill: darkred;
  }
  50% {
    fill: red;
  }
  100% {
    fill: darkred;
  }
}

.powerup-svg-critical-blink {
  animation-name: powerup-svg-critical-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  fill: red;
}

.powerup-svg-warning {
  fill: yellow;
}

@keyframes powerup-svg-warning-blink {
  0% {
    fill: yellow;
  }
  50% {
    fill: goldenrod;
  }
  100% {
    fill: yellow;
  }
}

.powerup-svg-warning-blink {
  animation-name: powerup-svg-warning-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  fill: yellow;
}

.powerup-svg-normal {
  fill: green;
}

.powerup-color-nan {
  color: #b7b7b7;
}

.powerup-svg-nan {
  fill: #b7b7b7;
}

.powerup-markup {
  display: none;
}

.country:hover {
  fill: blue !important;
  cursor: crosshair;
}

.powerupMapTooltip {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
  text-align: right;
}

.geoText, .valueText {
  font-size: large;
}

.powerupLineTooltip {
  display: flex;
}

.powerupLineTooltip .dot {
  border-radius: 3px;
}

.powerupLineTooltip div {
  flex: 0;
  /*white-space: nowrap;*/
}

.powerupLineTooltip .spacer {
  flex: 1;
}

.powerup-sankey-icon {
  width: 20px;
  height: 20px;
  background-color: #242424;
}

.powerup-icon-yellow {
  fill: #ffe11c;
}

.powerup-icon-red {
  fill: #dc172a;
}

.powerup-icon-green {
  fill: #2ab06f;
}

.powerup-icon-white {
  fill: white;
}

.powerup-icon-purple {
  fill: #7c38a1;
}

.powerup-sankey-tooltip {
  z-index: 1100;
  background: white;
  opacity: 0.8;
  border: 1px solid #7c38a1;
  border-radius: 3px;
}

.powerupFunnelContainer {
  height: 100%;
  width: 100%;
  z-index: 999;
  position: absolute;
}

.powerupFunnelLabel {
  position: absolute;
  /*width: 100%;*/
  text-align: center;
}

/*.powerupDeltaNeg {
  color: #ef651f;
  background-color: #6d6d6d;
  padding: 2px;
  border-radius: 3px;
  font-weight: bold;
}

.powerupDeltaPos {
  color: #2ab06f;
  background-color: #6d6d6d;
  padding: 2px;
  border-radius: 3px;
  font-weight: bold;
}*/

/*.powerupFunnelContainer svg g:hover path, #powerupFunnelContainer  svg g:hover path {
  fill: #008cdb;
}*/

/*.powerupFunnelLabel:hover {
  background: #008cdb;
}*/

.powerupTileDrillin {
  cursor: pointer;
}

.powerupPlotBackground, .powerupHighchartsContainer {
  cursor: default;
}

.powerupHighchartsContainer .highcharts-sankey-series .highcharts-node, .powerupHighchartsContainer .highcharts-sankey-series .highcharts-data-label * {
  cursor: context-menu;
}

.powerupSankeyDetailPopup {
  z-index: 1200;
  background: #242424;
  opacity: 0.8;
  height: 80%;
  width: 80%;
  margin: 50px 20px;
  overflow: auto !important;
  padding: 10px;
}

.powerupSankeyDetailPopup a {
  color: #00b9cc;
  text-decoration: none;
}

.powerupSankeyDetailPopup a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.highcharts-exporting-group {
  visibility: hidden;
}

.highcharts-menu {
  overflow: visible!important;
}

.powerupVisible {
  visibility: visible;
}

.powerupHeatmap {
  font-family: BerninaSansWeb, sans-serif !important;
}

.powerupMath, .powerupVlookup {
  display: flex;
  padding-left: 20px;
}

.powerupMath, .powerupVlookup {
  align-items: center;
}

.powerupMathText {
  color: #898989;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 500;
}

.powerupStdev span {
  font-size: 32px;
}

.powerupTable {
  z-index: 1000;
}

.powerupTable span {
  user-select: text;
}

.powerupTable:hover {
  cursor: default;
}

.powerupTable a, .powerupTable a:hover {
  color: #00b9cc !important;
  font-size: 1.1em !important;
  text-decoration: none;
  z-index: 1001;
}

.powerupTable a:hover:not(.powerupTableColAsc) {
  cursor: s-resize;
}

.powerupTableColAsc:hover {
  cursor: n-resize;
}

.powerupTableColDesc:hover {
  cursor: s-resize;
}

.powerupTableColAsc::after {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #00b9cc;
  position: absolute;
  margin-left: 5px;
}

.powerupTableColDesc::after {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #00b9cc;
  position: absolute;
  margin-left: 5px;
}

.powerupTableMenu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 3px;
}

.powerupTableMenu.on {
  background-color: #454646;
}

.powerupTableMenu>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.powerupTableButton {
  color: white;
  text-decoration: none;
  border-radius: 3px;
  border: 1px #00b9cc solid;
  background: #454646;
  padding: 3px;
  width: 10px;
  height: 10px;
  display: table;
  z-index: 1101;
  margin: 5px;
}

.powerupTableButton:hover {
  background-color: #6A6B6B;
  color: white;
  text-decoration: none;
}

.powerupBackground {
  background-repeat: no-repeat;
  /*background-attachment: fixed; */ 
  background-size: cover;
}

.powerupImage {
  width: 100%;
  height: 100%;
}

.powerupTooltip {
  position: relative;
  pointer-events: none;
  border: 1px solid #00a1b2;
  border-radius: 3px;
  background-color: white;
  opacity: 0.8;
  visibility: hidden;
  z-index: 9000;
  color: rgb(51, 51, 51);
  text-align: center;
  padding: 5px 0px;
}

.powerupTooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #00a1b2 transparent transparent transparent;
}

.grid-tile:hover .powerupTooltip {
  visibility: visible;
}