@keyframes powerup-colorhack-critical {
    0% {background-color: darkred;}
    50% {background-color: red;}
    100% {background-color: darkred;}
  }
  .powerup-colorhack-critical {
    animation-name: powerup-colorhack-critical;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes powerup-colorhack-warning {
    0% {background-color: yellow;}
    50% {background-color: lightyellow;}
    100% {background-color: yellow;}
  }
  .powerup-colorhack-warning {
    animation-name: powerup-colorhack-warning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .powerup-colorhack-normal {
      background-color: green;
  }

  @keyframes powerup-svghack-critical {
    0% {fill: darkred;}
    50% {fill: red;}
    100% {fill: darkred;}
  }
  .powerup-svghack-critical {
    animation-name: powerup-svghack-critical;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes powerup-svghack-warning {
    0% {fill: yellow;}
    50% {fill: lightyellow;}
    100% {fill: yellow;}
  }
  .powerup-svghack-warning {
    animation-name: powerup-svghack-warning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .powerup-svghack-normal {
      fill: green;
  }

  .powerup-markup {
      display: none;
  }